# OpenVPN connection files
*.ovpn

# auth files
*.auth

# CSV files
*.csv
*.csv#

# log files
*.log
*.log.*

# YML files
*.yml

# TXT files
*.txt

# DOCX Files
*.docx

# PCAP Files
*.pcap

# PYC Files
*.pyc